<html>
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" src="initial.css">
    </head>
    <body>
        <header>
            <a id="menu-toggle"></a>
            <h1>{{ title }}</h1>
        </header>
        <main>
            {{#each collections.posts}}
                <a href="{{ this.path }}" title="{{this.title}}" class="card">
                    <img src="{{this.eyecatch}}" alt="eyecatch" class="card-img">
                    <div class="card-meta">
                        <h2>{{this.title}}</h2>
                    </div>
                </a>
            {{/each}}
        </main>
    </body>
</html>