<html>
    <head>
        <title>{{ sitetitle }}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="HandheldFriendly" content="true">
        <meta name="description" content="{{ description }}">
        <meta name="theme-color" content="{{ theme-color }}">
        <meta name="msapplication-TileColor" content="{{ theme-color }}">
        <link rel="image_src" href="" url="" height="256" width="256">
        <link rel="fluid-icon" href="" title="{{ title }}">
        <link rel="stylesheet" href="/css/initial.css">
        <link rel="stylesheet" href="/css/list.css">
        <script type="application/ld+json" src="/json/list.json"></script>
        <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga("create","{{ google-analytics-id }}","auto");ga("send","pageview");</script>
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
    </head>
    <body>
        <header class="site-header">
            <h1 class="site-title">{{ sitetitle }}</h1>
            <span class="copyright">
                <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Organization">
                    <span itemprop="name">
                        {{ sitetitle }}
                    </span>
                </span>
                &nbsp;&nbsp;&copy;
                <span itemprop="copyrightYear">
                    {{ startyear }}
                </span>
            </span>
        </header>
        <main class="card-list">
            {{#each collections.posts}}
                <a href="/posts/{{this.title}}" title="{{this.title}}" class="card">
                    <img src="{{this.eyecatch}}" alt="eyecatch" class="card-img">
                    <div class="card-meta">
                        <h2>{{this.title}}</h2>
                    </div>
                </a>
            {{/each}}
        </main>
        <script src="/js/main.js"></script>
    </body>
</html>