<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="HandheldFriendly" content="true">
        <meta name="description" content="{{ description }}">
        <meta name="theme-color" content="{{ theme-color }}">
        <meta name="msapplication-TileColor" content="{{ theme-color }}">
        <link rel="image_src" href="" url="" height="256" width="256">
        <link rel="fluid-icon" href="" title="{{ title }}">
        <link rel="stylesheet" href="/css/initial.css">
        <link rel="stylesheet" href="/css/list.css">
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main class="card-list">
            {{#each collections.posts}}
                <a href="{{this.link}}" title="{{this.title}}" class="card">
                    <img src="{{this.eyecatch}}" alt="eyecatch" class="card-img">
                    <div class="card-meta">
                        <h2>{{this.title}}</h2>
                    </div>
                </a>
            {{/each}}
        </main>
    </body>
</html>