<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="HandheldFriendly" content="true">
        <meta name="description" content="{{ description }}">
        <meta name="theme-color" content="{{ theme-color }}">
        <meta name="msapplication-TileColor" content="{{ theme-color }}">
        <link rel="image_src" href="{{ eyecatch }}" url="{{ eyecatch }}" height="256" width="256">
        <link rel="fluid-icon" href="{{ eyecatch }}" title="{{ title }}">
        <link rel="stylesheet" href="{{ siteurl }}/css/initial.css">
        <link rel="stylesheet" href="{{ siteurl }}/css/post.css">
    </head>
    <body>
        <article>
            <header class="article-meta">
                <img src="{{ eyecatch }}" alt="eyecatch" class="article-eyecatch">
                <h1 class="article-title">{{ title }}</h1>
                <time class="article-date">{{ date }}</time>
            </header>
            <div class="article-main" role="main">
                {{{ contents }}}
            </div>
            <footer class="article-footer">
                <aside class="tag-cloud">
                    <h2>tag cloud</h2>
                    {{#each tags}}
                        <a href="{{this.pth}}">
                            {{this.ctg}}({{this.wght}})
                        </a>
                    {{/each}}
                </aside>
                <a href="<?php echo esc_url(home_url(''));?>" class="copyright">
					<span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Organization">
						<span itemprop="name">
							{{ sitetitle }}
						</span>
					</span>
					&nbsp;&nbsp;&copy;
					<span itemprop="copyrightYear">
						{{ startyear }}
					</span>
				</a>
            </footer>
        </article>
    </body>
</html>