<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta name="HandheldFriendly" content="true">
        <meta name="description" content="{{ description }}">
        <meta name="theme-color" content="{{ theme-color }}">
        <meta name="msapplication-TileColor" content="{{ theme-color }}">
        <link rel="image_src" href="{{ eyecatch }}" url="{{ eyecatch }}" height="256" width="256">
        <link rel="fluid-icon" href="{{ eyecatch }}" title="{{ title }}">
        <link rel="stylesheet" href="{{ siteurl }}/css/initial.css">
        <link rel="stylesheet" href="{{ siteurl }}/css/post.css">
    </head>
    <body>
        <article>
            <header class="article-meta">
                <h1>{{ title }}</h1>
                <time>{{ date }}</time>
            </header>
            <div class="article-main" role="main">
                {{{ contents }}}
            </div>
            <footer>
                <h2>tag cloud</h2>
                {{#each cloud}}
                    <a href="{{this.pth}}">
                        {{this.ctg}}({{this.wght}})
                    </a>
                {{/each}}
            </footer>
        </article>
    </body>
</html>